*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

$primary-color: #02897A;

.container{
    max-width: 1146px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

html{
    scroll-behavior: smooth;
}

#loading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-color: #FFF;
}

#loading.loading-none{
    opacity: 0;
    z-index: -1;
}

@keyframes ldio-o85r7qoo7y-o {
    0% {
        opacity: 1;
        transform: translate(0 0)
    }

    49.99% {
        opacity: 1;
        transform: translate(80px, 0)
    }

    50% {
        opacity: 0;
        transform: translate(80px, 0)
    }

    100% {
        opacity: 0;
        transform: translate(0, 0)
    }
}

@keyframes ldio-o85r7qoo7y {
    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(80px, 0)
    }

    100% {
        transform: translate(0, 0)
    }
}

.ldio-o85r7qoo7y div {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 60px;
    left: 20px;
}

.ldio-o85r7qoo7y div:nth-child(1) {
    background: #02897a;
    animation: ldio-o85r7qoo7y 1s linear infinite;
    animation-delay: -0.5s;
}

.ldio-o85r7qoo7y div:nth-child(2) {
    background: #000000;
    animation: ldio-o85r7qoo7y 1s linear infinite;
    animation-delay: 0s;
}

.ldio-o85r7qoo7y div:nth-child(3) {
    background: #02897a;
    animation: ldio-o85r7qoo7y-o 1s linear infinite;
    animation-delay: -0.5s;
}

.loadingio-spinner-dual-ball-zw50okjne3f {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.ldio-o85r7qoo7y {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-o85r7qoo7y div {
    box-sizing: content-box;
}

header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    height: 80px;
    background-color: white;
    transition: 0.5s;
}

.navbar-shrink{
    height: 65px;
    box-shadow: 0 0 5px 5px $primary-color;
}

.nav{
    &__logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    &__title {
        display: flex;
        align-items: center;
        gap: 20px;
        h1 {
            color: #173A56;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;

        }
    }
    &__list{
        display: none;
        align-items: center;
        list-style: none;
        gap: 30px;
    }

    &__item{
        a{
            color: #22343D;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;  
        }
    }

    &__btns{
        display: none;
        align-items: center;
        gap: 24px;
    }

    &__btn{
        color: #173A56;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 4px;
        border: 2px solid #BCD0E5;
        padding: 10px 22px 9px 25px;
        background-color: white;
        cursor: pointer;
    }

    &__btn__1{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 4px;
        border: none;
        padding: 10px 22px 9px 25px;
        background-color: $primary-color;
        cursor: pointer;
    } 
}

#navbar-responsive{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: -100%;
    bottom: 0;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    list-style: none;
}

.navbar__item a{
    color: white;
    text-decoration: none;
}

#navbar-close{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
    color: red;
}

#mode-btn img{
    background-color: #f3f3f3;
    display: flex;
    width: 45px;
    height: 45px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.hamburger i{
    color: $primary-color;
    background-color: #f3f3f3;
    display: flex;
    width: 45px;
    height: 45px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
}

.dark header{
    background-color: black;
}

.dark .nav__title h1{
    color: white;
}

.dark .nav__item a{
    color: white;
}

.dark .nav__btns button{
    background-color: $primary-color;
    color: white;
    border: none;
}

#hero{
    padding-top: 100px;
}

.hero{
    &__left{
        text-align: center;
        h1{
            color: #22343D;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px;
        }
        p{
            color: #22343D;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin-top: 10px;
        }
    }

    &__btns{
        margin-top: 30px;
        text-align: center;
        button{
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding: 15px 41px 14px 41px;
            border-radius: 4px;
            background-color: $primary-color;
            border: 2px solid $primary-color;
            margin-bottom: 20px;
            cursor: pointer;
        }
        button:hover{
            background-color: #FFF;
            color: $primary-color;
            border: 2px solid $primary-color;
        }
        a{
            color: #02897A;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration-line: underline;
            cursor: pointer;
        }
    }

    &__right{
        img{
            width: 100%;
            height: 100%;
            padding-top: 30px;
        }
    }
}

.dark #hero{
    background-color: black;
}

.dark #hero * {
    color: white;
}

.dark .hero__btns button:hover{
    background-color: black;
    color: $primary-color;
    border: 2px solid $primary-color;
}

#product{
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../images/product-bg.svg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.product{
    &__top{
        h1{
            color: #22343D;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 30px;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 30px;
        list-style: none;
        text-align: center;
        padding-bottom: 30px;
        h1{
            color: #22343D;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        p{
            color: #22343D;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }
    }
}

.dark #product{
    background-color: black;
    background-image: none;
}

.dark #product *{
    color: white;
}

#customers{
    padding-top: 30px;
}

.management{
    &__left{
        h3{
            color: #22343D;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        h1{
            color: #22343D;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 10px;
        }
        p{
            color: #22343D;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-top: 15px;
        }
        h4{
            color: #22343D;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            margin-top: 15px;
        }
    }
    &__right{
        img{
            width: 100%;
            margin-top: 20px;
            padding-bottom: 20px;
        }
    }
}

.customer{
    &__left{
        img{
            width: 100%;
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }
    &__right{
        h3{
            color: #22343D;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        h1{
            color: #22343D;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 10px;
        }
        p{
            color: #22343D;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-top: 10px;
        }
    }
    &__right-1{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.collaborative{
    padding-top: 40px;
    &__left{
        h3 {
            color: #22343D;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
            
        h1 {
            color: #22343D;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 10px;
        }
            
        p {
            color: #22343D;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-top: 15px;
        }
            
        h4 {
            color: #22343D;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            margin-top: 15px;
        }
    }
    &__right{
        img{
            width: 100%;
            padding-top: 40px;
            padding-bottom: 30px;
        }
    }
}

.dark #customers{
    background-color: black;
}

.dark #customers *{
    color: white;
}

#process{
    padding-top: 50px;
    background-image: url(../images/avatar-bg.svg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.process{
    &__top{
        h1{
            color: #22343D;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        p{
            color: #22343D;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            padding-top: 20px;
        }
    }
    &__bottom{
        padding-top: 40px;
    }
    &__row{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        gap: 20px;
        padding-bottom: 20px;
    }
    &__card{
        display: flex;
        align-items: center;
        gap: 15px;
        p{
            color: #2F281E;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 10px;
            background: white;
            box-shadow: 0 0 2px 1px grey;
            border-radius: 25px;
        }
    }
    &__btn{
        text-align: center;
        button{
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding: 15px 31px 14px 30px;
            background-color: $primary-color;
            border: 2px solid $primary-color;
            border-radius: 5px;
            margin-top: 20px;
        }
                button:hover {
                    background-color: #FFF;
                    color: $primary-color;
                    border: 2px solid $primary-color;
                }
    }
}

.dark #process{
    background-color: black;
    background-image: none;
}

.dark #process h1{
    color: white;
}

.dark #process p {
    color: white;
}

.dark .process__card p{
    background-color: $primary-color;
}

#contents{
    padding-top: 50px;
    &__carousel{
        padding-top: 30px;
    }
}

.contents{
    &__top{
        h1{
            color: #22343D;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        p{
            color: #22343D;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
        }
    }
    &__item{
        width: 348px;
        border: 1px solid;
        border-radius: 8.5px;
        img{
            width: 340px;
            height: 185px;
            border-radius: 8px 8px 0px 0px;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        }
        h3{
            color: #22343D;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            padding: 10px;
        }
        p{
            color: #22343D;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            padding: 10px;
        }
    }
}

#contents__carousel{
    position: relative;
}

#contents__carousel :is(.owl-prev, .owl-next){
    position: absolute;
    top: 175px;
    background-color: $primary-color;
    color: #FFF;
    font-size: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 0 3px 2px black;
    transition: 0.5s;
}

#contents__carousel .owl-prev{
    left: -20px;
}

#contents__carousel .owl-next{
    right: -20px;
}

#contents__carousel .owl-dot span{
    width: 15px;
    height: 15px;
    transition: all 0.5s;
}

#contents__carousel .owl-dot.active span{
    background-color: $primary-color;
}

.contents__item:hover p{
    color: $primary-color;
}

.dark #contents{
    background-color: black;
}

.dark .contents__top * {
    color: white;
}

.dark .contents__item p{
    color: white;
}

.dark .contents__item:hover p {
    color: $primary-color;
}

#pricing{
    padding-top: 60px;
}

.pricing{
    &__top{
        h1{
            color: #22343D;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
        }
        p{
            color: #22343D;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
        }
    }
    &__bottom {
        padding-top: 40px;
    }
    
    &__row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    
    &__card {
        transition: 0.5s;
        padding: 30px;
        border: 1px solid;
        text-align: center;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
        h1{
            color: #22343D;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
        }
        p{
            color: #22343D;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
        }
        button{
            display: inline-flex;
            padding: 11px 19px 11px 18px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: #02897A;
            border: 2px solid $primary-color;
            margin-top: 50px;
        }
                button:hover {
                    background-color: #FFF;
                    color: $primary-color;
                    border: 2px solid $primary-color;
                }
    }
    &__price{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        h1{
            color: #02897A;
            font-size: 76px;
            font-style: normal;
            font-weight: 700;
            line-height: 100px;
            letter-spacing: 0.2px;
        }
        p{
            color: #02897A;
            text-align: start;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0.1px;
        }
        span{
            color: var(--second-text, #AFAFAF);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0.1px;
        }
    }
}

.pricing__card:hover{
    background-color: $primary-color;
}
.pricing__card:hover *{
    color: white;
}
.pricing__card:hover button {
    background-color: white;
    color: $primary-color;
}

.dark #pricing{
    background-color: black;
}

.dark .pricing__top *{
    color: white;
}

#feedback{
    padding-top: 50px;
}

.feedback{
    &__top{
        h1{
            color: #22343D;
            text-align: center;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 57px;
            letter-spacing: 0.2px;
        }
        p{
            color: #22343D;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.2px;
            margin-top: 10px;
        }
    }
    &__bottom{
        padding-top: 30px;
    }
    &__row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    &__card{
        width: 327px;
        height: 236px;
        border-radius: 5px;
        border: 1px solid #DEDEDE;
        background: var(--light-background, #FFF);
        padding: 25px;
        p{
            color: var(--second-text-color, #737373);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.2px;
        }
    }
    &__inside{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        h3{
            color: #02897A;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.2px;
        }
        span{
            color: var(--text-color, #252B42);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.2px;
        }
    }
}

.dark #feedback{
    background-color: black;
}

.dark .feedback__top *{
    color: white;
}

.container-1008{
    max-width: 1008px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 32px;
    background: #02897A;
}

#resources{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.resources{
    &__left{
        h1{
            color: #FFF;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: 151.4%;
            padding-top: 30px;
        }
        div{
            text-align: center;
        }
        button{
            display: inline-flex;
            padding: 10px 35px;
            justify-content: center;
            align-items: center;
            color: #02897A;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 30px;
            border: 2px solid $primary-color;
            background-color: #FFF;
            cursor: pointer;
        }
                button:hover {
                    background-color: $primary-color;
                    color: #FFF;
                    border: 2px solid white;
                }
    }
    &__right{
        img{
            width: 100%;
            height: 100%;
            // margin-top: 10px;
        }
    }
}

.dark #resources{
    background-color: black;
}

footer{
    padding-top: 50px;
}

.footer{
    &__logo{
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        h1{
            color: #173A56;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
        }
    }
    &__media{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        i{
            width: 40px;
            height: 40px;
            background: #EDFFFC;
            border-radius: 50%;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary-color;
            cursor: pointer;
        }
    }
    &__center{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__list{
        list-style: none;
        margin-top: 30px;
    }
    &__item{
        color: #22343D;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
    }
    &__item-1{
        color: #22343D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
    }
    &__end{
        margin-top: 20px;
        p{
            color: #22343D;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }
        form{
            text-align: center;
        }
        input{
            width: 325px;
            height: 48px;
            border-radius: 4px;
            border: 1px solid #BCD0E5;
            background: #FFF;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        button{
            width: 131px;
            height: 39px;
            border-radius: 4px;
            background: #02897A;
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border: 2px solid $primary-color;
        }
                button:hover {
                    background-color: #FFF;
                    color: $primary-color;
                    border: 2px solid $primary-color;
                }
    }
}

.dark footer{
    background-color: black;
}

.dark .footer__logo h1{
    color: white;
}

.dark .footer__center * {
    color: white;
}

.dark .footer__end * {
    color: white;
}

#backtop{
    position: fixed;
    bottom: -50px;
    right: -50px;
    border-radius: 50%;
    background-color: $primary-color;
    transition: 0.5s;
}

#backtop a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 35px;
    text-decoration: none;
    color: white;
}

#backtop.backtop-show {
    bottom: 50px;
    right: 30px;
}

@media (min-width: 700px) {
    .nav__list {
        display: flex;
    }
    .hamburger{
        display: none;
    }
    .pricing__row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .feedback__row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (min-width: 800px){
    .home{
        display: flex;
    }

    .hero__left{
        width: 50%;
        padding-top: 150px;
    }

    .hero__right{
        width: 50%;
    }

    .hero__btns{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .product__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .process__row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 150px 0 150px;
    }
    .resources{
        display: flex;
    }
    .resources__left h1{
        font-size: 35px;
        margin-left: 20px;
    }
    .resources__left button{
        margin-top: 100px;
    }
    .resources__left{
        width: 50%;
    }
    .resources__right {
        width: 50%;
    }
}

@media (min-width: 950px){
    .nav__btns {
        display: flex;
    }
    .product__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 100px;
    }
    .management{
        display: flex;
    }
    .management__left{
        width: 50%;
    }
    .management__right{
        width: 50%;
        margin-left: 130px;
    }
    .customer{
        display: flex;
    }
    .customer__left{
        width: 50%;
    }
    .customer__right{
        width: 50%;
        margin-top: 150px;
        margin-left: 130px;
    }
    .collaborative{
        display: flex;
    }
    .collaborative__left{
        width: 50%;
    }
    .collaborative__right{
        width: 50%;
        margin-left: 130px;
    }
    .pricing__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    .footer__center{
        display: flex;
        gap: 50px;
        margin-top: -30px;
    }
    .footer__end{
        margin-top: -5px;
    }
}